In [1]:
import pandas as pd
import datetime as dt

In [2]:
table = pd.read_csv("C:/Users/danie/OneDrive/Desktop/DSLAB/Dati/3. dataset finali usati per il progetto_dal clustering/df_finale_NO_COVID.csv")

In [3]:
table["row ID"] = pd.to_datetime(table["row ID"])

In [4]:
table['dayOfWeek'] = table['row ID'].dt.day_name()
table['month'] = table['row ID'].dt.month
table['year'] = table['row ID'].dt.year
table

,row ID,Vendite R1,Vendite R2,Vendite R4,Vendite R5,Vendite R6,dayOfWeek,month,year
0,2017-09-24,7858.44,9441.14,3161.74,6890.10,7441.47,Sunday,9,2017
1,2017-09-25,3252.04,7007.85,3088.18,4688.63,5158.66,Monday,9,2017
2,2017-09-26,3339.24,6075.87,2658.01,4579.10,5389.24,Tuesday,9,2017
3,2017-09-27,3508.80,5831.01,3149.58,4920.60,5741.39,Wednesday,9,2017
4,2017-09-28,3819.55,7114.35,2999.93,5373.64,5804.60,Thursday,9,2017
...,...,...,...,...,...,...,...,...,...
821,2019-12-31,3224.15,3128.11,2881.49,2969.52,1766.59,Tuesday,12,2019
822,2020-01-01,9214.80,12238.06,2913.35,7951.44,6281.31,Wednesday,1,2020
823,2020-01-02,8445.76,9072.21,4472.73,6410.84,5720.10,Thursday,1,2020
824,2020-01-03,8462.55,9746.61,3851.34,8045.43,6216.85,Friday,1,2020
825,2020-01-04,13169.56,11875.81,4230.98,9042.46,6121.55,Saturday,1,2020

In [5]:
table.to_csv("C:/Users/danie/OneDrive/Desktop/DSLAB/Dati/3. dataset finali usati per il progetto_dal clustering/per_boxplot.csv")